:root {
	--main-accent: #98ff98;
}

.column {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50vw;
	min-width: 440px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
    color: var(--main-accent);
    background-color: black;
}

h1 {
    font-size: 4rem;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: 0;
}

button, body, ::placeholder {
    font-family: 'Share Tech Mono', monospace;
	margin: 0;
}

.fields {
	float: left;
}

.mix {
	font-family: 'Share Tech Mono', monospace;
	color: black;
	border-collapse: collapse;
	!important
}

tr {
	list-style-type: none;
	text-align: left;
	background-color: black;
	color: var(--main-accent);
}

tr:nth-child(even) {
    background-color: #212121;
}

td {
	padding-left: 6px;
	padding-right: 6px;
}

img {
	fill: var(--main-accent);
}

.del, .fav {
	width: 24px;
	padding-top: 2.75px;
}

.del::hover {
	
}

.burn {
	float: right;
}

/* cd stuff
font-family: 'Permanent Marker', cursive;
font-size: 1.75 rem;

