:root {
	--main-accent: #98ff98;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', cursive;
    color: var(--main-accent);
    background-color: black;
}

h1 {
    font-size: 4rem;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: 0;
}

button {
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.mix {
	font-family: 'Permanent Marker', cursive;
	color: black;
	font-size: 1.75rem;
	!important
}

.del {
	
}

.fav {
	
}